@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	background: #000;
	justify-content: center;
	align-items: center;
}
.navbar-brand{
	font-family: 'Roboto', sans-serif;
	color: #fff;
	padding-left: 10px;
}
.navbar-brand:hover{
	color: #fff;
	text-decoration: none;
}
.nav-item{
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: white;
}
.nav-item a:hover{
	color: #fff;
}
.nav-link{
	color: #fff;
	text-decoration: none;
}
h1{
	font-size: 28px;
	color: #000;
	font-weight: 400;
	color: #000;
	text-align: center;
	padding-top: 20px;
}
h1::after{
	content: '';
	display: block;
	width: 170px;
	height: 3px;
	margin: 20px auto;
	background-color: #000;
}
.carousel-item{
	height: 100vh;
	min-height: 300px;
	-webkit-background-size: cover;
	background-size: cover;
}